{% extends "base.html.twig" %}

{% block title %}Movies{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

  <h1>{{ movie.title }} ({{ movie.date | date('d/m/Y') }})</h1>
  
  <small>
    {{ movie.genre.name }} - {{ movie.director.first_name }} {{ movie.director.last_name }} 
  </small>

  <small>{{ movie.duration }}</small>

  <div>
    <img src="{{ movie.coverImage }}" width="300">
  </div>

  <small>
    {% for actor in movie.actors %}
      {{ actor.firstname }}  {{ actor.lastname }} <br>
    {% endfor %}
  </small>

  <p>{{ movie.description }}</p>

{% endblock %}